* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Proza Libre", sans-serif;
}

body {
  margin: 0;
  justify-content: flex-start;
  background-color: #f0f0f0;
  border: 1px solid #b6b6b6;
  color: rgb(41 41 41);
  font-weight: normal;
  font-family: "Proza Libre", sans-serif;
  position: relative;
}

header {
  background-color: #562b81;
  padding: 0.5rem;
}

.main-container {
  max-width: 848px;
  margin: 0;
  position: relative;
}

h1 {
  font-family: "Proza Libre", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;
  color: #292929;
  margin: 0;
}

h2 {
  font-family: "Proza Libre", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #fff;
  padding: 0.25rem 4rem;
}

h3 {
  font-size: 1.5rem;
  padding: 0;
  margin: 1rem 0;
}

img {
  max-width: 100%;
}

h3,
p,
label,
input,
textarea {
  display: block;
  width: 100%;
}

p {
  font-size: 0.95rem;
}

label {
  font-family: "Proza Libre", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #000;
}

div.column-half > img {
  width: 100%;
}

input,
textarea {
  margin-bottom: 0.5rem;
  border: 1px solid rgb(182 182 182);
  font-family: "Open Sans", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000;
}

input:focus,
textarea:focus {
  outline: none;
  border: 1px solid rgb(86, 43, 129);
  box-shadow: 0 0 10px 5px rgba(86, 43, 129 / 30%);
}

::placeholder {
  color: rgb(0 0 0 / 30%);
}

button {
  height: 40px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: white;
  text-transform: uppercase;
  background-color: #562b81;
  cursor: pointer;
  border-radius: 5px;
  padding: 0.25rem 2rem;
}

button:hover {
  background-color: #562b81;
}

button:focus {
  outline: none;
}

.save,
.new {
  display: flex;
  justify-content: flex-end;
}

li {
  list-style: none;
}

.new {
  justify-content: space-between;
}

h2.main-container {
  top: 5%;
  left: 50%;
  padding: 0;
  position: absolute;
}

div.new {
  width: 100%;
  margin: 1rem;
  position: relative;
}

.main-header {
  top: 0;
  left: 0;
  padding: 0;
  position: relative;
}

button.main-header {
  padding: 0 2rem;
}
